[Unit]
Description=RunPlantower
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash /home/particulatepi/RunPlantower/RunPMShell.sh
WorkingDirectory=/home/particulatepi/RunPlantower
StandardOutput=inherit
StandardError=inherit
User=particulatepi

[Install]
WantedBy=multi-user.target
